<!DOCTYPE html>
<html>

<head>
    <title>fish-shop</title>
</head>

<body>
<h2>products</h2>
<h5>product list:</h5>

<form id="dashboard" name="dashboard" method="post" action="dashboard">

    <input class="btn" type="submit" value="logout" name="logout"/>

</form>

</body>

</html>